# use glob syntax.
syntax: glob
\#*
.#*
*~
out/
.ws/
target/
bin/
.settings/
.classpath
.project
.idea/
*.iml
*.eml
*.ipr
*.iws
*.DS_STORE
TAGS
.metadata/
atlassian-ide-plugin.xml
.DS_Store
.java-version
*nb-configuration.xml
*nbactions.xml
Makefile
test-output/
mvn.out*
